<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/ingredientes.css">
    <script src="https://kit.fontawesome.com/49d338be07.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <header>
            <h1> Shopping Cart</h1>
            <div class="shopping">
                <img src="" alt="">
            </div>

        </header>

        <div class="search-box">
            <div class="row">
                <input type="text" placeholder="Search" autocomplete="off">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            
            <div class="resultbox"></div>
            <ul>
                <li>Suli</li>
                <li>Del prado</li>
            </ul>
        </div>

          </div>
    
</body>
</html>