<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Categorías de Platillos</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Categorías de Platillos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria[0] }}</td>
                    <td>{{ categoria[1] }}</td>
                    <td>
                        <a href="{{ url_for('editar_categoria', id_categoria=categoria[0]) }}" class="btn btn-warning">Editar</a>

                        <a href="{{ url_for('eliminar_categoria', id_categoria=categoria[0]) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('agregar_categoria') }}" method="post">
            <div class="form-group">
                <label for="id_categoria">ID:</label>
                <input type="number" class="form-control" id="id_categoria" name="id_categoria" required>
            </div>
            <div class="form-group">
                <label for="nombre_categoria">Nombre:</label>
                <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" required>
            </div>
            <button type="submit" class="btn btn-success">Agregar Categoría</button>
        </form>
    </div>
</body>
</html>
