<!DOCTYPE html>
<html>
<head>
    <title>Editar Promociones</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/promoform.css">
</head>
<body>

    <form class="form-register" action="{{ url_for('editarpromo' , id=promociones[0]) }}" method="POST" autocomplete="off" enctype="multipart/form-data">
        <h1> Editar Promociones</h1>
        <div class="container--flex">
            <label class="form__label">ID</label>
            <input class="form__input" type="text" name="id" value="{{ promociones[0] }}" required><br>    
        </div> 

        <div class="container--flex">
            <label class="form__label">TITULO</label>
            <input class="form__input" type="text" name="titulo" value="{{ promociones[1] }}" required><br>
        </div>

        <div class="container--flex">
            <label class="form__label">DESCRIPCION</label>
            <input class="form__input" type="text" name="descripcion" value="{{ promociones[2] }}" required><br>
        </div>

        <div class="container--flex">
            <label class="form__label">FECHA</label>
            <input class="form__input" type="text" name="fecha" value="{{ promociones[3] }}" required><br>
        </div>
        <div class="container--flex">
            <label class="form__label">ARCHIVO</label>
            <input class="form__file" type="file" name="archivo" required>
        </div> 
    
    <div class="form-group mb-5 text-center mt-5">
        <button  type="submit" class="form__submit">Actualizar</button>
    </div>

    </form>
</body>
</html>