<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Editar Categoría</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Editar Categoría</h2>
        <form action="{{ url_for('editar_categoria', id_categoria=categoria[0]) }}" method="post">
            <div class="form-group">
                <label for="nuevo_nombre_categoria">Nuevo Nombre:</label>
                <input type="text" class="form-control" id="nuevo_nombre_categoria" name="nuevo_nombre_categoria" value="{{ categoria[1] }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
