<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coure App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Names Table</h1>
    <table id="namesTable">
        <thead>
            <tr>
                <th>Name</th>
                <!-- Add more headers if needed -->
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Data will be inserted here using JavaScript -->
        </tbody>
    </table>

    <script src="../static/js/app.js"></script>
</body>
</html>