<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coure App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header></header>
    <main>
        <section class="main">
            <h1 class="main_title"><span style="color: #F29727;">Coure</span> App</h1>
            <p class="main_description">Una app diseñada para mejorar tu experiencia gastronómica!</p>
            <div class="main_buttons">
                <div class="main_btn"><a href="/signup">Registrarse</a></div>
                <div class="main_btn"><a href="/login">Iniciar sesión</a></div>
            </div>
        </section>
    </main>
    <footer class="main_footer">
        <p>&copy; 2023 <span style="color: #F29727;">Coure</span> App</p>
    </footer>
    <script src="../static/js/app.js"></script>
</body>

</html>