<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>CRUD de Mesas</title>
</head>
<body>

<div class="container mt-3">
    <h2>CRUD de Mesas</h2>
    
    <!-- Formulario para crear una nueva mesa -->
    <form action="/mesa/agregar" method="post" class="mb-3">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="numero_mesa">Número de Mesa</label>
                <input type="number" class="form-control" id="numero_mesa" name="numero_mesa" required>
            </div>
            <div class="form-group col-md-3">
                <label for="capacidad">Capacidad</label>
                <input type="number" class="form-control" id="capacidad" name="capacidad" required>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-success btn-block">Agregar Mesa</button>
            </div>
        </div>
    </form>
    
    <!-- Tabla de Mesas -->
    <table class="table">
        <thead>
            <tr>
                <th>ID de Mesa</th>
                <th>Número de Mesa</th>
                <th>Capacidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mesa in mesas %}
                <tr>
                    <td>{{ mesa[0] }}</td>
                    <td>{{ mesa[1] }}</td>
                    <td>{{ mesa[2] }}</td>
                    <td>
                        <a href="{{ url_for('editar_mesa', id_mesa=mesa[0]) }}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{{ url_for('eliminar_mesa', id_mesa=mesa[0]) }}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
